.overlay[b-a0zdzd9shj] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup[b-a0zdzd9shj] {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

[b-a0zdzd9shj] .add_team_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.add_team_form label[b-a0zdzd9shj] {
    display: block;
    font-weight: bold;
}

.add_team_form[b-a0zdzd9shj]  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add_team_form[b-a0zdzd9shj]  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_team_form[b-a0zdzd9shj]  button[type="submit"]:hover {
    background-color: #45a049;
}

.add_team_form[b-a0zdzd9shj]  button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_team_form[b-a0zdzd9shj]  button[type="button"]:hover {
    background-color: #d32f2f;
}

.add_team_form .error[b-a0zdzd9shj] {
    color: #d32f2f;
    font-size: 0.9em;
    margin-top: 10px;
}
