.main_nav[b-ugl2t6e6s3] {
    display: flex;
    column-gap: 10px;
    padding: 5px 10px;
    background-color: purple;
}

.main_nav a[b-ugl2t6e6s3] {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}